
.floatyWrapper
{
    border-radius: 4px;
    background-color: #f6f5f4;
    box-shadow: 0 1px 2px #b9b9b9;
}

.boxWrapper
{
    margin: 10px;
    padding: 10px;

    transition: transform .5s ease;

    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.pageImage
{
    position: relative;
    width: 100%;

    box-shadow: 0 0 2px #d0d0d0;
}
.pageImage::after{
    content:none;
}

.inputWidget
{
    position: fixed;
    right: 15px;
    bottom: 15px;
    left: 15px;

    height: 80px;
    margin: 0;
    padding: 0;
}

.capSection
{
    position: relative;
    z-index: 3;

    display: block;

    height: 24px;
    margin: 0;
    padding: 0;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: indianred;
}

.capSection:hover
{
    background-color: #a33139ff;
}

.guessSection
{
    position: relative;
    z-index: 2;

    display: flex;

    height: 56px;
    margin: 0;
    padding: 0;

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: indigo;

    justify-content: space-between;
}

.textField
{
    font-family: 'Arvo', 'Georgia', sans-serif;
    font-size: 1.5rem;

    right: 64px;

    overflow: auto;

    width: 100%;

    margin: 5px 0 5px 5px;
    padding: 0 0 0 5px;

    resize: both;

    border: none;
    border-radius: 4px;
    outline: none;
}

.guessSubmit
{
    width: 56px;
    margin: 5px;
    padding: 0;

    border: none;
    border-radius: 4px;
}

.guessButton
{
    cursor: pointer;
    transition: color .5s linear, background-color .5s linear;

    color: chartreuse;
    outline: none;
    background-color: peachpuff;
}

.guessButton:disabled
{
    cursor: default;

    color: lightsalmon;
    background-color: darkseagreen;
}

.guessButton:hover
{
    /* TODO: make button lighten on hover once actual colors are determined; */
}

.buttonLabel
{
    margin: 0;
}

.toggle
{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;

    width: 100%;
    height: 24px;
    margin: 0;
    padding: 0;

    cursor: pointer;

    opacity: 0;
    outline: none;
}

.toggle:hover
{
    /* TODO: give some visual indication of clickabiliy; */
}

.toggleLabelIcon
{
    margin: 0;
    margin-top: -46px;
    padding: 0;

    transition: transform .5s ease;
    vertical-align: middle;
}

.toggleLabelText
{
    font-family: 'Raleway', 'Trebuchet MS', 'Helvetica', sans-serif;
    font-size: 1.3rem;

    top: -3px;

    display: inline-block;

    margin: 0;
    margin-top: -10px;
    margin-left: -5px;
    padding: 0;

    vertical-align: middle;
}

.toggleLabel
{
    position: absolute;
    left: 0;

    display: block;

    width: 100%;
    margin: 0;
    padding: 0;

    text-align: center;
}

.heading
{
    font-family: 'Raleway', 'Trebuchet MS', 'Helvetica', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;

    top: 2.5px;
    left: 10px;

    display: inline-block;

    height: 24px;
    margin: 0 0 0 5px;
    padding: 0;

    vertical-align: bottom;
}

.sliding
{
    transition: transform .5s ease;
}

.clipLayer
{
    position: absolute;
    top: -231px;
    right: 0;
    left: 0;

    overflow: hidden;
    /* (-255+24) */

    height: 255px;
    margin: 0;
    padding-right: 5px;
    padding-left: 5px;
}

.menu
{
    position: absolute;
    right: 0;
    bottom: -255px;
    left: 5px;

    overflow-x: hidden;
    overflow-y: auto;

    height: 255px;
    margin-right: 5px;
    padding: 10px 15px;

    text-overflow: ellipsis;

    background-color: darkcyan;
    box-shadow: 0 0 4px rgba(0, 0, 0, .50);
}

@media only screen and (max-width: 540px)
{
    /* Adjusts for mobile: */
    #f_button_text
    {
        display: none;
    }
    #f_button_icon
    {
        display: block;
    }
    .siteFooter
    {
        display: none;
    }
}

@media only screen and (min-width: 541px)
{
    /* Restores footer for desktop */
    #f_button_text
    {
        display: block;
    }
    #f_button_icon
    {
        display: none;
    }
    .siteFooter
    {
        display: block;
    }
}

.siteFooter
{
    width: 100%;
    height: 100px;
    margin-top: 70px;

    background: #d4ff7f;
}

.hoverShadow
{
    box-shadow: 0 0 5px rgba(0, 0, 0, .45);
}

.knownWordsContainer
{
    border: 1px solid gray;
}

.menuHeadline
{
    font-family: 'Raleway', sans-serif;
    font-size: 18pt;
    font-weight: 700;

    width: 100%;
    margin: 0 0 0 0;

    color: peachpuff;
}

.menuText
{
    font-family: 'Arvo', serif;
    font-size: 15pt;
}

.guessDivide
{
    margin-right: -6px;
    margin-left: -6px;

    border: 0;
    border-bottom: 1px dashed lemonchiffon;
}

.guessText
{
    font-style: italic;

    color: #94b379;
}

.knownWord
{
    color: white;
}

.goodWord
{
    font-weight: 700;
    font-style: normal;

    color: #ECA8FB;
}

.selectableContainer
{
    display: inline-block;

    margin: 3px 2px;
    padding: 3px 5px;

    transition: background-color .2s linear;
    text-overflow: ellipsis;

    border-radius: 2px;
    background-color: #c2c2c2;
    /* IE10+ */
    background-image: linear-gradient(left, #94b379 0%, #a6c090 100%);
}

.selectableContainer:hover
{
    background-color: #79c31b;
}

.guessContainer
{
    /* margin-top:50px; */
    right: 10px;
    /* height:3em; */

    width: 100%;
    margin: 10px 0;
    padding: 0;
}

.inner.menuText
{
    font-size: 13pt;
    font-style: italic;
    /* overflow:hidden; */

    width: 100%;

    transition: color .2s linear;

    color: lemonchiffon;
    cursor: pointer;
}

.inner.menuText:hover
{
    color: ghostwhite;
}

.goodWords
{
    padding-top: 15px;
}
