
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/
/* Variables */
@import 'base/variables';
/* Base files. */
@import 'base/normalize';
@import 'base/functions';
@import 'base/base-styles';
@import 'base/utils';
@import 'base/typography';
/* Modules */
@import 'modules/grid';
@import 'modules/buttons';
@import 'modules/forms';
@import 'modules/lists';
@import 'modules/code';
@import 'modules/tables';
@import 'modules/spacing';
@import 'modules/media-queries';

// /* variables */
@mixin floating($level:5) {
  box-shadow: 0 0 ($level * 2px) rgba(0, 0, 0, .21 - $level * .01);
}

* {
  // border: 0.5px dotted gray;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
  background-color: $c_bg;
}

.top_header {
  position: relative;
  z-index: 1;

  background-color: $c_main;

  @include bp-gridactive {
    padding-top: .5%;
  }
  img {
    margin-top: 4%;
    @include bp-gridactive {
      margin: $padding;
      margin-left: 0;
    }
  }
}
.container{

}
.header_backdrop {
  position: absolute;
  right: -50%;
  left: -50%;

  height: 100%;

  background-color: $c_main;
  z-index: -1;
}

.band {
  @include floating(4);
  z-index: -1;
  position: absolute;
  top: 0;
  right: -50%;
  left: -50%;

  height: $band_height_mobile;

  background-color: $c_container_bg;
  border-top: $accent_border_header;

  @include bp-gridactive {
    height: $band_height;
  }
}

.tagline {
  padding-bottom: $padding_mobile;
  @include bp-gridactive {
    padding-bottom: 0;
  }
}

.game_button_panel {
  position: relative;
 

  padding: ($padding_band+$accent_border_header_width) 0 $padding_band 0;


  @include bp-gridactive {
    display: inline-block;
    top: $padding;
    bottom: 0;
    left: grid-offset-length(8)-2%;

    padding: 0;

    background-color: $c_container_bg;
    border-radius: $b-rad;
  }
}

.panel_button:hover {
  @include floating(3);
}

.panel_button:active {
  @include floating(0);
  background-color: $c_light;
}

.panel_button {
  float: left;

  width: 22%;
  margin: 0 0 0 2.4%;
  padding: $padding_button_mobile;

  background-color: $c_container_highlight;
  line-height: 1;
  border: .5px solid $c_detail_text;

  $width: 45%;
  $height: 45%;
  @include bp-gridactive {
    height: $height;
    width: $width;
    margin-top: (100-2*$height)/4;
    margin-right: (100-2*$width)/4;
    margin-bottom: (100-2*$height - 20)/4;
    margin-left: (100-2*$width)/4;
    padding: 0;
  }

  i {
    vertical-align: middle;
    color: $c_detail_text;
  }

  div {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: $padding_button_mobile;

    line-height: 1;
  }
}

.game_card {
  @include floating(2);

  position: absolute;
  right: -3%;
  bottom: $card_clearance;
  left: -3%;
  z-index: -1;

  height: $card_height;
  padding-bottom: 2px;

  background-color: $c_container_bg;
  border-radius: 2px;

  transition: transform .4s ease;

  // transform: translate(0, 200px);
  iframe {
    height: 100%;
    width: 100%;
  }
  .scrim {
    position: absolute;
    bottom: 0;

    height: 10%;
    width: 90%;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 86%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 86%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 86%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
  }
}

.slid {
  outline: none;
  transform: translate(0, $card_height+$card_clearance);
}

.game_card_concealer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: $c_main;
  // transform: translate(0, 200px);
}

.box_wrapper {
  @include floating(2);
  z-index: -2;
  margin-bottom: 20px;
  padding: $padding_mobile;
  display: inline-block;
  position: relative;

  background-color: $c_container_bg;
  line-height: 0;
  border-radius: $b-rad;

  @include bp-gridactive {
    .box_wrapper {
      padding: $padding;
    }
  }
}

.pageImage {
  @include floating(1);
}

.tagline {
  margin: auto;
  font-style: italic;
}

.icon {
  .gpanel {
    margin: auto;
  }
}

.page_footer {
  position: relative;

  padding: 0;

  background-color: $c_main;
  color: $c_link;

  .container {
    padding: $padding_mobile;

    text-align: center;
    text-justify: inter-word;
  }
}


.footer_band {
  @include floating(3);

  top: 0;

  width: 100%;

  background-color: $c_container_bg;
  border-bottom: $accent_border_footer;
}

.footer_logo {
  float: left;
  max-height: 20px;
}

.footer_title {
  margin: 0;
  padding: 2px;

  color: $c_detail_text;
  text-align: center;
}

.linkspacer {
  display: inline-block;

  width: 3%;

  text-align: center;
}