@import "base/variables";

.page_footer {
  position: relative;
  margin: auto;
  padding: 0 0 0 0;
  //z-index: -1;

  // background-color: $c_main;
  color: $c_link;

  .container {
    padding: $padding_mobile;
    background-color: $c_main;
    margin: 0;
    max-width: none;
    width: 100%;
    text-align: center;
    text-justify: inter-word;
  }

  &:before {
    @include bp-gridactive {
      content: "";
      height: 10px;
      visibility: hidden;
      display: block;
      opacity: 0;
      height: 10px;
    }
  }
  &:after {
    content: "";
    height: $answer_height + 2*$margin + 80px;
    display: block;
    background-color: $c_main;
      width: 100%;
    background-image: -webkit-linear-gradient(   bottom, $c_main, darken($c_main, 33));
    background-image:         linear-gradient(to bottom, $c_main, darken($c_main, 33));
    @include bp-gridactive {
      display: none;
    }
  }
}

.footer_band {
  @include floating(3);

  top: 0;
  width: 100%;
  background-color: $c_container_bg;
  border-bottom: $accent_border_header;
}

.footer_logo {
  float: left;
  max-height: 20px;
}

.footer_title {
  margin: 0;
  padding: 2px;
  color: $c_detail_text;
  text-align: center;
}

.linkspacer {
  display: inline-block;
  width: 3%;
  text-align: center;
}
